.container-fluid {
    width: 97%;
}

button {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#top-area {
    background-color: #333F99;
    height: 100px;

    .my-container {
        width: 95%;
        margin: auto;
        background-color: #333F99;

        .language {

            margin-left: 10px;

            .button1 {
                background-color: #333F99;
                border: none;
                margin-top: 30px;
            }
        }

        .country {

            margin-left: 10px;

            .button2 {
                background-color: #333F99;
                border: none;
                margin-top: 30px;
            }

            span {
                padding-left: 12px;
            }

            img {
                width: 22px;
                height: 22px;
                border-radius: 50%;
            }
        }

        .top-area-logo {
            align-items: center;
            margin-top: 28px;
            margin-left: 60px;
        }

        .icons {
            display: flex;
            float: right;

            .basket {

                margin-right: 12px;
                position: relative;

                .basket-circles {
                    width: 23px;
                    height: 23px;
                    background-color: #FF5722;
                    border-radius: 50%;
                    position: absolute;
                    top: 18px;
                    left: 32px;
                    padding-top: 10px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    sup {

                        color: white;
                    }
                }

                .basket-bg {
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    background-color: #FF5722;
                    margin-top: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        color: white;
                        font-size: 18px;
                        cursor: pointer;
                    }
                }

            }

            .heart {

                height: 45px;
                margin-right: 20px;


                .heart-circles {
                    width: 23px;
                    height: 23px;
                    background-color: #FF5722;
                    border-radius: 50%;
                    position: absolute;
                    top: 19px;
                    right: 87px;
                    cursor: pointer;
                    padding-top: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    sup {

                        color: white;
                    }
                }

                .favori-bg {
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    background-color: #FF5722;
                    margin-top: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        color: white;
                        font-size: 18px;
                        cursor: pointer;

                    }

                }
            }

            .profile-img {
                width: 40px;

                img {

                    border-radius: 50%;
                    width: 100%;
                    margin-top: 30px;
                }
            }
        }

    }

}

#cover {
    .back-img {
        background-size: cover;
        width: 100%;
        height: 314px;
        background-image: url(../../images/about/page-title-bar.3ed966eb.jpg);
        background-position: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 3em;
            color: white;
            font-weight: 500;
        }
    }
}


#nav-area {
    position: relative;

    .search {
        position: absolute;
        right: 40px;
        top: 18px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        background-color: #ff5722;
        justify-content: center;
        align-items: center;
        color: white;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
        transition: all 0.3s;
    }

    .admin {
        width: 125px;
        background-color: #FF5722;
    }

    background-color: #283593;



    nav {
        display: flex;
        justify-content: center;
    }

    .navbar-list {
        display: flex;
        margin-left: 15px;
        margin-bottom: 0;


        li {
            list-style: none;
            position: relative;
            ;
            margin-right: 15px;

            &:hover {
                .home {
                    height: 130px;
                    width: 200px;

                    li {
                        text-align: left;
                    }
                }

                .shop {
                    height: 170px;
                    width: 200px;
                }

                .categories {
                    height: 270px;
                    width: 1000px;

                    li {
                        text-align: left;
                    }
                }

                a {
                    &::before {
                        visibility: visible;
                        transform: scale(1, 1);
                    }
                }
            }

            .home {
                height: 130px;
                width: 200px;
            }

            .shop {
                height: 170px;
                width: 200px;
            }

            .categories {
                height: 270px;
                width: 1000px;
                display: flex;
                gap: 150px;
                text-align: left;
            }

            .c {
                top: 58px;
                left: -150px;
            }

            .submenu {
                overflow: hidden;
                position: absolute;
                left: -150px;
                background-color: #fff;
                height: 0;
                line-height: 40px;
                transition: height 0.3s ease-in-out;
                transition-delay: 0.1s;
                border-radius: 5px;
                z-index: 2;


                li {
                    display: block;
                    text-align: left;
                }

                a {
                    color: black;

                    font-size: 16px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                    }
                }

                .product1 {
                    padding-top: 20px;

                    h5 {
                        text-align: left;
                    }
                }
            }

            .hov {
                font-size: 18px;
                color: white;
                display: block;
                text-decoration: none;
                position: relative;
                padding: 11.5px 0;


                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    bottom: -6px;
                    left: 0px;
                    background-color: #FF5722;
                    transition: all 0.3s ease-in-out;
                    transform: scale(0, 0);
                    visibility: hidden;
                }
            }
        }
    }
}

#product-info {
    display: flex;
    column-gap: 20px;
    padding: 80px 0;

    .product-image {
        display: flex;
        width: 100%;
        margin: auto;
        column-gap: 20px;

        .option-second {
            img {
                height: auto;
                width: auto;
                border-radius: 5px;
                cursor: pointer;

            }
        }

        .option-three {

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;


            img {
                object-fit: cover;
                border-radius: 5px;
                height: 114px;
                cursor: pointer;
            }
        }

    }

    .product-details {
        padding: 0 24px;

        h4 {
            color: orangered;
        }

        p {
            span {
                font-weight: 600;
            }
        }

        .dropdown-toggle {
            border: none;
            border-bottom: 1px solid black;
            border-radius: 0;
            opacity: 0.5;
            margin-right: 15px;
            padding-left: 0;
            width: 12.5rem;

            &:focus {
                box-shadow: none;
            }
        }

        .dropdown-menu {
            transform: translate3d(0px, 0px, 0px) !important;
        }

        .orange {
            background-color: orangered;
            color: white;
            margin-right: 20px;
        }

        ul.social-network {
            list-style: none;
            display: inline;



            li {
                display: inline;
                margin: 0 5px;
            }
        }

        .social-network {
            a.icoYt {
                &:hover {
                    background-color: #e52d27;
                }
            }

            a.icoFacebook {
                &:hover {
                    background-color: #3B5998;
                }
            }

            a.icoGoogle {
                &:hover {
                    background-color: #BD3518;
                }
            }
        }

        .social-circle {
            li {
                a {
                    display: inline-block;
                    position: relative;
                    margin: 0 auto 0 auto;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    text-align: center;
                    width: 50px;
                    height: 50px;
                    font-size: 20px;
                    background-color: #1f2027;

                    &:hover {
                        i {
                            -moz-transform: rotate(360deg);
                            -webkit-transform: rotate(360deg);
                            -ms--transform: rotate(360deg);
                            transform: rotate(360deg);
                            -webkit-transition: all 3.2s;
                            -moz-transition: all 0.2s;
                            -o-transition: all 0.2s;
                            -ms-transition: all 0.2s;
                            transition: all 0.8s;
                        }
                    }
                }

                i {
                    margin: 0;
                    line-height: 50px;
                    text-align: center;
                }
            }

            i {
                color: #fff;
                -webkit-transition: all 0.8s;
                -moz-transition: all 0.8s;
                -o-transition: all 0.8s;
                -ms-transition: all 0.8s;
                transition: all 0.8s;
            }
        }

        .triggeredHover {
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -ms--transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transition: all 3.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            -ms-transition: all 0.2s;
            transition: all 0.8s;
        }

    }
}

#suggestions {
    padding: 80px 0px;
    background-color: whitesmoke;

    h2 {
        font-size: 2.8rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    .product-card {
        // width: 80%;
        border: 1px solid rgb(0, 0, 0, 0.2);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 5px;

        &:hover .cart {
            transform: translateY(-20px);
        }


        .img {
            position: relative;
            width: 100%;
            height: 70%;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .price {
            position: absolute;
            box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
            border-radius: 5px;
            /* top: 10px; */
            bottom: 20px;
            left: 19px;
            height: 26px;
            width: 71px;
            background-color: white;
        }


        .title {
            position: relative;
            padding-left: 15px;
            padding-top: 5px;

            h6 {
                text-align: left;
            }

            .cart {
                position: absolute;
                right: 10px;
                top: -32px;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                display: flex;
                background-color: #e52d27;
                justify-content: center;
                align-items: center;
                color: white;
                border: none;
                box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
                transition: all 0.3s;

                i {
                    font-size: 21px;

                }
            }

            position: relative;

            ul {
                display: flex;
                list-style: none;
                padding-left: 0;

                i {
                    color: #edb867
                }
            }
        }

        .icons {
            border-top: 1px solid rgb(0 0 0 / 6%);
            height: 50px;
            /* height: 1%; */
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* padding: 5px; */
            padding: 0 13px;
            color: rgba(0, 0, 0, 0.54);

        }
    }
}

#footer {
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    padding: 30px;
    padding-top: 55px;

    h6 {
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        padding-left: 0 !important;
    }
}

#copyright {

    padding: 44px 44px;
    background-color: black;
    color: white;

    .copyright {
        border-top: 1px solid white;
        height: 30px;
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }
}