a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.container-fluid {
  width: 97%;
}

#top-area {
  background-color: #333F99;
  height: 100px;
}
#top-area .my-container {
  width: 95%;
  margin: auto;
  background-color: #333F99;
}
#top-area .my-container .language {
  margin-left: 10px;
}
#top-area .my-container .language .button1 {
  background-color: #333F99;
  border: none;
  margin-top: 30px;
}
#top-area .my-container .country {
  margin-left: 10px;
}
#top-area .my-container .country .button2 {
  background-color: #333F99;
  border: none;
  margin-top: 30px;
}
#top-area .my-container .country span {
  padding-left: 12px;
}
#top-area .my-container .country img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
#top-area .my-container .top-area-logo {
  align-items: center;
  margin-top: 28px;
  margin-left: 60px;
}
#top-area .my-container .icons {
  display: flex;
  float: right;
}
#top-area .my-container .icons .basket {
  margin-right: 12px;
  position: relative;
}
#top-area .my-container .icons .basket .basket-circles {
  width: 23px;
  height: 23px;
  background-color: #FF5722;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  left: 32px;
  padding-top: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#top-area .my-container .icons .basket .basket-circles sup {
  color: white;
}
#top-area .my-container .icons .basket .basket-bg {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FF5722;
  margin-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#top-area .my-container .icons .basket .basket-bg i {
  color: white;
  font-size: 18px;
  cursor: pointer;
}
#top-area .my-container .icons .heart {
  height: 45px;
  margin-right: 20px;
}
#top-area .my-container .icons .heart .heart-circles {
  width: 23px;
  height: 23px;
  background-color: #FF5722;
  border-radius: 50%;
  position: absolute;
  top: 19px;
  right: 87px;
  cursor: pointer;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#top-area .my-container .icons .heart .heart-circles sup {
  color: white;
}
#top-area .my-container .icons .heart .favori-bg {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FF5722;
  margin-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#top-area .my-container .icons .heart .favori-bg i {
  color: white;
  font-size: 18px;
  cursor: pointer;
}
#top-area .my-container .icons .profile-img {
  width: 40px;
}
#top-area .my-container .icons .profile-img img {
  border-radius: 50%;
  width: 100%;
  margin-top: 30px;
}

#cover .back-img {
  background-size: cover;
  width: 100%;
  height: 314px;
  background-image: url(../../images/about/page-title-bar.3ed966eb.jpg);
  background-position: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#cover .back-img h1 {
  font-size: 3em;
  color: white;
  font-weight: 500;
}

#nav-area {
  position: relative;
  background-color: #283593;
}
#nav-area .search {
  position: absolute;
  right: 40px;
  top: 18px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  background-color: #ff5722;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  transition: all 0.3s;
}
#nav-area .admin {
  width: 125px;
  background-color: #FF5722;
}
#nav-area nav {
  display: flex;
  justify-content: center;
}
#nav-area .navbar-list {
  display: flex;
  margin-left: 15px;
  margin-bottom: 0;
}
#nav-area .navbar-list li {
  list-style: none;
  position: relative;
  margin-right: 15px;
}
#nav-area .navbar-list li:hover .home {
  height: 130px;
  width: 200px;
}
#nav-area .navbar-list li:hover .home li {
  text-align: left;
}
#nav-area .navbar-list li:hover .shop {
  height: 170px;
  width: 200px;
}
#nav-area .navbar-list li:hover .categories {
  height: 270px;
  width: 1000px;
}
#nav-area .navbar-list li:hover .categories li {
  text-align: left;
}
#nav-area .navbar-list li:hover a::before {
  visibility: visible;
  transform: scale(1, 1);
}
#nav-area .navbar-list li .home {
  height: 130px;
  width: 200px;
}
#nav-area .navbar-list li .shop {
  height: 170px;
  width: 200px;
}
#nav-area .navbar-list li .categories {
  height: 270px;
  width: 1000px;
  display: flex;
  gap: 150px;
  text-align: left;
}
#nav-area .navbar-list li .c {
  top: 58px;
  left: -150px;
}
#nav-area .navbar-list li .submenu {
  overflow: hidden;
  position: absolute;
  left: -150px;
  background-color: #fff;
  height: 0;
  line-height: 40px;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.1s;
  border-radius: 5px;
  z-index: 2;
}
#nav-area .navbar-list li .submenu li {
  display: block;
  text-align: left;
}
#nav-area .navbar-list li .submenu a {
  color: black;
  font-size: 16px;
  text-decoration: none;
}
#nav-area .navbar-list li .submenu a:hover {
  text-decoration: none;
}
#nav-area .navbar-list li .submenu .product1 {
  padding-top: 20px;
}
#nav-area .navbar-list li .submenu .product1 h5 {
  text-align: left;
}
#nav-area .navbar-list li .hov {
  font-size: 18px;
  color: white;
  display: block;
  text-decoration: none;
  position: relative;
  padding: 11.5px 0;
}
#nav-area .navbar-list li .hov::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -6px;
  left: 0px;
  background-color: #FF5722;
  transition: all 0.3s ease-in-out;
  transform: scale(0, 0);
  visibility: hidden;
}

#contact {
  padding-top: 37px;
  padding-bottom: 26px;
}
#contact h1 {
  font-size: 3.1em;
  line-height: 1.1em;
  margin-bottom: 0.8em;
}
#contact h4,
#contact a {
  margin-bottom: 1em;
}
#contact h3 {
  font-size: 2.125rem;
  line-height: 3.1rem;
}
#contact .info {
  flex-direction: column;
  display: flex;
  height: 100%;
}
#contact .register-area {
  height: 600px;
  background-color: white;
  display: flex;
}
#contact .register-area .register {
  background: white;
  width: 100%;
  height: 542px;
  display: flex;
  flex-direction: column;
  padding: 17px;
  border-radius: 5px;
}
#contact .register-area .register label {
  margin: 20px 0;
  height: 30px;
  position: relative;
  display: inline-block;
}
#contact .register-area .register span {
  padding: 10px;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0.5;
}
#contact .register-area .register input {
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 0.5px solid;
  outline: none;
}
#contact .register-area .register input:focus {
  border-bottom: 2px solid #283593;
}
#contact .register-area .register input:focus + span {
  opacity: 1;
  transform: scale(0.75) translateY(-100%) translateX(-16px);
  color: #283593;
}
#contact .register-area .register input:not(:-moz-placeholder-shown) + span {
  opacity: 1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}
#contact .register-area .register input:not(:-ms-input-placeholder) + span {
  opacity: 1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}
#contact .register-area .register input:not(:placeholder-shown) + span {
  opacity: 1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}
#contact .register-area .register button {
  height: 50px;
  width: 160px;
  background: #ff5722;
  border: none;
  color: white;
  border-radius: 6px;
}

#footer {
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
  padding: 30px;
  padding-top: 55px;
}
#footer h6 {
  margin-bottom: 20px;
}
#footer ul {
  list-style: none;
  padding-left: 0 !important;
}

#copyright {
  padding: 44px 44px;
  background-color: black;
  color: white;
}
#copyright .copyright {
  border-top: 1px solid white;
  height: 30px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=contact.css.map */