body {
  font-size: 1em;
}
body .container-fluid {
  width: 98%;
}
body #top-area {
  background-color: black;
}
body #top-area .my-container {
  width: 95%;
  margin: auto;
  background-color: black;
}
body #top-area .my-container .welcome {
  border-right: 1px solid gray;
  height: 45px;
  width: 178px;
}
body #top-area .my-container .welcome p {
  color: white;
  padding-top: 9px;
  display: inline-block;
}
body #top-area .my-container .language {
  border-right: 1px solid gray;
  margin-left: 10px;
}
body #top-area .my-container .language .button1 {
  border-radius: 0px;
  background-color: black;
  border: 0px;
  position: relative;
  top: 3px;
}
body #top-area .my-container .country {
  border-right: 1px solid gray;
  margin-left: 10px;
}
body #top-area .my-container .country .button2 {
  border-radius: 0px;
  background-color: black;
  border: 0px;
  position: relative;
  top: 3px;
}
body #top-area .my-container .country span {
  padding-left: 12px;
}
body #top-area .my-container .country img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
body #top-area .my-container .icons {
  display: flex;
  float: right;
}
body #top-area .my-container .icons .basket {
  border-right: 1px solid gray;
  margin-right: 12px;
  position: relative;
}
body #top-area .my-container .icons .basket .basket-circles {
  width: 16px;
  height: 16px;
  background-color: #FF5722;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  right: 10px;
  cursor: pointer;
}
body #top-area .my-container .icons .basket .basket-circles sup {
  margin-left: 5px;
  color: white;
}
body #top-area .my-container .icons .basket i {
  color: white;
  margin-right: 20px;
  margin-top: 15px;
  font-size: 18px;
  cursor: pointer;
}
body #top-area .my-container .icons .heart {
  border-right: 1px solid gray;
  height: 45px;
  margin-right: 20px;
}
body #top-area .my-container .icons .heart .heart-circles {
  width: 16px;
  height: 16px;
  background-color: #FF5722;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 92px;
  cursor: pointer;
}
body #top-area .my-container .icons .heart .heart-circles sup {
  margin-left: 5px;
  color: white;
}
body #top-area .my-container .icons .heart i {
  color: white;
  margin-right: 18px;
  margin-top: 14px;
  font-size: 18px;
  cursor: pointer;
}
body #top-area .my-container .icons .profile-img {
  border-right: 1px solid gray;
  height: 30px;
  width: 30px;
}
body #top-area .my-container .icons .profile-img img {
  margin-left: -9px;
  border-radius: 50%;
  width: 100%;
  margin-top: 10px;
}
body #logo-search {
  background-color: #F3F3F4;
  height: 100px;
}
body #logo-search .my-container {
  width: 95%;
  margin: auto;
  background-color: #F3F3F4;
}
body #logo-search .my-container .logo img {
  margin-top: 33px;
}
body #logo-search .my-container .search {
  float: right;
  margin-top: 30px;
  position: relative;
}
body #logo-search .my-container .search input {
  padding-left: 25px;
  width: 600px;
  height: 45px;
  border-radius: 15px;
  border: none;
  outline: none;
}
body #logo-search .my-container .search i {
  position: absolute;
  right: 22px;
  top: 14px;
}
body #nav-area {
  position: relative;
  background-color: #283593;
}
body #nav-area .search {
  position: absolute;
  right: 40px;
  top: 18px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  background-color: #ff5722;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}
body #nav-area .admin {
  width: 125px;
  background-color: #FF5722;
}
body #nav-area nav {
  display: flex;
  transition: top 0.5s;
}
body #nav-area .fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  color: black;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  background-color: #283593;
  width: 100%;
}
body #nav-area .navbar-list {
  display: flex;
  margin-left: 15px;
  margin-bottom: 0;
}
body #nav-area .navbar-list li {
  list-style: none;
  position: relative;
  margin-right: 15px;
}
body #nav-area .navbar-list li:hover .home {
  height: 130px;
  width: 200px;
}
body #nav-area .navbar-list li:hover .home li {
  text-align: left;
}
body #nav-area .navbar-list li:hover .shop {
  height: 170px;
  width: 200px;
}
body #nav-area .navbar-list li:hover .categories {
  height: 270px;
  width: 1000px;
}
body #nav-area .navbar-list li:hover .categories li {
  text-align: left;
}
body #nav-area .navbar-list li:hover a::before {
  visibility: visible;
  transform: scale(1, 1);
}
body #nav-area .navbar-list li .home {
  height: 130px;
  width: 200px;
}
body #nav-area .navbar-list li .shop {
  height: 170px;
  width: 200px;
}
body #nav-area .navbar-list li .categories {
  height: 270px;
  width: 1000px;
  display: flex;
  gap: 150px;
  text-align: left;
}
body #nav-area .navbar-list li .c {
  top: 58px;
  left: -150px;
}
body #nav-area .navbar-list li .submenu {
  overflow: hidden;
  position: absolute;
  background-color: #fff;
  height: 0;
  line-height: 40px;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.1s;
  border-radius: 5px;
  z-index: 2;
}
body #nav-area .navbar-list li .submenu li {
  display: block;
  text-align: left;
}
body #nav-area .navbar-list li .submenu a {
  color: black;
  font-size: 16px;
  text-decoration: none;
}
body #nav-area .navbar-list li .submenu a:hover {
  text-decoration: none;
}
body #nav-area .navbar-list li .submenu .product1 {
  padding-top: 20px;
}
body #nav-area .navbar-list li .submenu .product1 h5 {
  text-align: left;
}
body #nav-area .navbar-list li .hov {
  font-size: 18px;
  color: white;
  display: block;
  text-decoration: none;
  position: relative;
  padding: 11.5px 0;
}
body #nav-area .navbar-list li .hov::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -6px;
  left: 0px;
  background-color: #FF5722;
  transition: all 0.3s ease-in-out;
  transform: scale(0, 0);
  visibility: hidden;
}
body #shortcuts {
  margin-top: 50px;
}
body #shortcuts .shipping,
body #shortcuts .support,
body #shortcuts .price {
  height: 117px;
  width: 100%;
  background-color: white;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
  margin-top: 56px;
}
body #shortcuts .shipping .icon,
body #shortcuts .support .icon,
body #shortcuts .price .icon {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: flex;
  background-color: #283593;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  top: -50px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}
body #shortcuts .shipping .icon i,
body #shortcuts .support .icon i,
body #shortcuts .price .icon i {
  font-size: 30px;
}
body #shortcuts .shipping .text,
body #shortcuts .support .text,
body #shortcuts .price .text {
  width: 100%;
  padding: 10px;
}
body #slider-img {
  padding-top: 80px;
}
body #slider-img .my-container {
  width: 95%;
  margin: auto;
  background-color: #283593;
}
body #slider-img .swiper {
  width: 100%;
  height: auto;
}
body #slider-img .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #slider-img .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  filter: brightness(0.5);
  z-index: -1;
}
body #slider-img .swiper .swiper-slide p {
  color: white;
  position: absolute;
  top: 170px;
  left: 39%;
  font-size: 30px;
}
body #slider-img .swiper .swiper-slide h1 {
  color: white;
  position: absolute;
  top: 200px;
  font-size: 90px;
}
body #slider-img .swiper .swiper-slide a {
  background-color: white;
  padding: 12px 25px;
  border-radius: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  position: absolute;
  bottom: 70px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
body #slider-img .swiper .swiper-slide button {
  position: absolute;
  bottom: 100px;
  width: 100px;
}
body #collections {
  margin-top: 50px;
}
body #collections .latest {
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
  background-image: url(../../images/home/collection.17e0ec43.jpg);
  height: 515px;
}
body #collections .latest .info {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 30px;
  color: white;
}
body #collections .latest .info button {
  border-radius: 4px;
  /* max-width: 80px; */
  width: 90px;
  height: 40px;
  font-weight: 600;
  border: none;
}
body #collections .latest .overlay {
  background-color: #0f1543;
  opacity: 0.45;
  height: 100%;
}
body #collections .men {
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
  background-image: url(../../images/home/col-men.a184996e.jpg);
  background-position: 50%;
  height: 240px;
  margin-bottom: 33px;
}
body #collections .men .info {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 30px;
  color: white;
}
body #collections .men .info button {
  border-radius: 4px;
  /* max-width: 80px; */
  width: 90px;
  height: 40px;
  font-weight: 600;
  border: none;
}
body #collections .men .overlay {
  background-color: #0f1543;
  opacity: 0.45;
  height: 100%;
}
body #collections .watch {
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
  height: 240px;
  background-image: url(../../images/home/col-watches.91e22f1d.jpg);
  background-position: 50%;
}
body #collections .watch .info {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 30px;
  color: white;
}
body #collections .watch .info button {
  border-radius: 4px;
  /* max-width: 80px; */
  width: 90px;
  height: 40px;
  font-weight: 600;
  border: none;
}
body #collections .watch .overlay {
  background-color: #0f1543;
  opacity: 0.45;
  height: 100%;
}
body #collections .women {
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
  background-image: url(../../images/home/col-women.d48a3fbc.jpg);
  background-position: 50%;
  height: 240px;
  margin-bottom: 33px;
}
body #collections .women .info {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 30px;
  color: white;
}
body #collections .women .info button {
  border-radius: 4px;
  /* max-width: 80px; */
  width: 90px;
  height: 40px;
  font-weight: 600;
  border: none;
}
body #collections .women .overlay {
  background-color: #0f1543;
  opacity: 0.45;
  height: 100%;
}
body #collections .acces {
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
  height: 240px;
  background-image: url(../../images/home/col-accessories.fb7ceb1f.jpg);
  background-position: 50%;
}
body #collections .acces .info {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 30px;
  color: white;
}
body #collections .acces .info button {
  border-radius: 4px;
  /* max-width: 80px; */
  width: 90px;
  height: 40px;
  font-weight: 600;
  border: none;
}
body #collections .acces .overlay {
  background-color: #0f1543;
  opacity: 0.45;
  height: 100%;
}
body #categories .cloth {
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  height: 515px;
  background-image: url(../../images/home/9-item-a.b21dfff7.jpg);
}
body #categories .cloth .info {
  position: absolute;
  z-index: 1;
  bottom: 5px;
  left: 16px;
  color: white;
}
body #categories .cloth .overlay {
  background-color: #080a18;
  opacity: 0.45;
  height: 100%;
}
body #categories .shoes {
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  height: 515px;
  background-image: url(../../images/home/cat-shoes.d1db9953.jpg);
}
body #categories .shoes .info {
  position: absolute;
  z-index: 1;
  bottom: 5px;
  left: 16px;
  color: white;
}
body #categories .shoes .overlay {
  background-color: #080a18;
  opacity: 0.45;
  height: 100%;
}
body #categories .acces {
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  height: 515px;
  background-image: url(../../images/home/g-5-a.f7015f71.jpg);
}
body #categories .acces .info {
  position: absolute;
  z-index: 1;
  bottom: 5px;
  left: 16px;
  color: white;
}
body #categories .acces .overlay {
  background-color: #080a18;
  opacity: 0.45;
  height: 100%;
}
body #categories .gadget {
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  height: 515px;
  background-image: url(../../images/home/a-5-a.eae9d54f.jpg);
}
body #categories .gadget .info {
  position: absolute;
  z-index: 1;
  bottom: 5px;
  left: 16px;
  color: white;
}
body #categories .gadget .overlay {
  background-color: #080a18;
  opacity: 0.45;
  height: 100%;
}
body #big-image .back-img {
  padding: 92px 60px;
  background-size: 2%;
  height: 788px;
  background-image: url(../../images/home/download\ \(1\).png);
}
body #big-image .back-img .main-img {
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  height: 100%;
  background-image: url(../../images/home/bg-sunglass.eed54bbe.jpg);
}
body #big-image .back-img .main-img .info {
  top: 21%;
  row-gap: 30px;
  position: absolute;
  z-index: 1;
  bottom: 5px;
  left: 16px;
  color: white;
}
body #big-image .back-img .main-img .info button {
  border-radius: 4px;
  /* max-width: 80px; */
  width: 90px;
  height: 40px;
  font-weight: 600;
  border: none;
}
body #big-image .back-img .main-img i {
  font-size: 37px;
  font-weight: 700;
}
body #big-image .back-img .main-img .title1 h4 {
  font-size: 37px;
  font-weight: 700;
}
body #big-image .back-img .main-img .title2 h2 {
  font-size: 78px;
  font-weight: 300px;
}
body #big-image .back-img .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #080a18;
  opacity: 0.45;
  height: 100%;
}
body #subscribe .sub-area {
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #283593;
  color: white;
}
body #subscribe .sub-area .floating-label-group {
  position: relative;
  display: flex;
  width: 23%;
  margin-top: 15px;
  margin-bottom: 25px;
}
body #subscribe .sub-area .floating-label-group .floating-label {
  font-size: 16px;
  color: white;
  position: absolute;
  pointer-events: none;
  top: 9px;
  left: 12px;
  transition: all 0.1s ease;
}
body #subscribe .sub-area .floating-label-group input:focus ~ .floating-label,
body #subscribe .sub-area .floating-label-group input:not(:focus):valid ~ .floating-label {
  top: -20px;
  bottom: 0px;
  left: 0px;
  font-size: 12px;
  opacity: 1;
  color: white;
}
body #subscribe .sub-area .row {
  margin-top: 50px;
}
body #subscribe .sub-area .icon {
  display: flex;
  position: absolute;
  height: 100px;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  top: -50px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
body #subscribe .sub-area .icon i {
  font-size: 50px;
  color: black;
}
body #logos {
  height: 100px;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  padding: 20px 0;
}
body #logos .img {
  height: 100%;
  margin-right: 26px;
}
body #logos .apple, body #logos .android {
  justify-content: center;
  height: 100%;
  width: 50%;
  align-items: center;
  display: flex;
  border: 1pxs solid black;
  font-size: 26px;
  font-weight: bolder;
  border-right: solid 1px;
}
body #logos .android {
  border: none;
}
body #slider-product body {
  line-height: 1.5;
}
body #slider-product .tabmenu-wrap {
  padding: 100px 38px;
}
body #slider-product .tabmenu-wrap .tab-nav {
  display: table;
  width: 34%;
}
body #slider-product .tabmenu-wrap .tab-nav .nav {
  display: table-cell;
  width: 30px;
}
body #slider-product .tabmenu-wrap .tab-nav .nav a {
  transition: 0.4s;
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #9b9b9b;
  text-align: center;
  border-bottom: 1px solid #ebe5da;
  padding-bottom: 15px;
  text-decoration: none;
}
body #slider-product .tabmenu-wrap .tab-nav .nav a:after {
  content: "";
  transition: 0.4s;
  width: 0px;
}
body #slider-product .tabmenu-wrap .tab-nav .nav.on a {
  color: #172349;
}
body #slider-product .tabmenu-wrap .tab-nav .nav.on a:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 3px;
  background-color: #172349;
}
body #slider-product .tabmenu-wrap .tab-con {
  padding: 15px 10px;
}
body #slider-product .tabmenu-wrap .tab-con .con-box {
  display: none;
}
body #slider-product .swiper {
  width: 100%;
  height: 100%;
}
body #slider-product .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
body #slider-product .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body #slider-product .product-card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}
body #slider-product .product-card:hover .cart {
  transform: translateY(-20px);
}
body #slider-product .product-card .img {
  position: relative;
  width: 100%;
  height: 70%;
}
body #slider-product .product-card .img img {
  height: 100%;
  width: 100%;
}
body #slider-product .product-card .price {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  /* top: 10px; */
  bottom: 20px;
  left: 19px;
  height: 26px;
  width: 71px;
  background-color: white;
}
body #slider-product .product-card .title {
  position: relative;
  padding-left: 15px;
  padding-top: 5px;
  position: relative;
}
body #slider-product .product-card .title h6 {
  text-align: left;
}
body #slider-product .product-card .title .cart {
  position: absolute;
  right: 10px;
  top: -32px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  background-color: #283593;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  transition: all 0.3s;
}
body #slider-product .product-card .title .cart i {
  font-size: 21px;
}
body #slider-product .product-card .title ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}
body #slider-product .product-card .title ul i {
  color: #edb867;
}
body #slider-product .product-card .icons {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  height: 50px;
  /* height: 1%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px; */
  padding: 0 13px;
  color: rgba(0, 0, 0, 0.54);
}
body #brands {
  height: 300px;
  padding: 55px 0;
  background: whitesmoke;
}
body #brands h3 {
  margin-bottom: 58px;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}
body #footer {
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
  padding: 30px;
}
body #footer h6 {
  margin-bottom: 20px;
}
body #footer ul {
  list-style: none;
  padding-left: 0 !important;
}
body #copyright {
  padding: 44px 44px;
  background-color: black;
  color: white;
}
body #copyright .copyright {
  border-top: 1px solid white;
  height: 30px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=home.css.map */